#artistFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#artistBox{
    margin-top: 128px;
    display: grid;
    width: 1180px;
    grid-template-rows: 5%
}
#artistBox>h1{
    text-align: center;
}
#artistList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3vh;
    place-items: center;
}
#artistList>.row4>img{
    width: 213px;
    cursor: pointer;
}
#artistList>.row5>img{
    width: 213px;
    cursor: pointer;
}
#artistList>.row4{
    flex-direction: column;
    display: flex;
    row-gap: 3vh;
}
#artistList>.row5{
    flex-direction: column;
    display: flex;
    row-gap: 3vh;
}
#artister{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}