#artistFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#artistBox{
    margin-top: 128px;
    display: grid;
    width: 1180px;
    grid-template-rows: 5%
}
#artistBox>h1{
    text-align: center;
}
#artistList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 28px;
    place-items: center;
    margin-top: 90px;
}
#artistList>.row3>img{
    width: 213px;
}
#artistList>.row4>img{
    width: 213px;
}
#artistList>.row5>img{
    width: 213px;
}
#artistList>.row4{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    row-gap: 28px;
}
#artistList>.row5{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    row-gap: 28px;
}