#artister{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap:10px;
}
#artister img{
    object-fit: contain;
    width:100%;
    height:auto;
}

/* modal and overlay: */
.overlay{
    position:fixed;
    z-index:10;
    width:100vw;
    height:100vh;
    background:hsl(199, 21%, 17%, .75); 
    display:flex; 
    align-items: center; 
    justify-content:center; 
    flex-direction:column;
}
.modal{
    border-radius:10px;
    width:500px;
    min-height:500px;
    padding:10px;
    background:rgb(248, 248, 248);
}
.modal button{
    border-radius:10px;
    padding:10px 14px;
    display:flex;
}
.modal h2{
    color:black;
}