:root {
    /* Basic color theme: */
    --color-1:#2EFEB3;
    --color-2:#98E8FF;
    --color-3:#FD0079;
    /* Dark colors: */
    --main-bg-color: #233036;
    --darker-bg-color:#161D21;
    --footerBG: #1E1318;
    --talksbox: #D9D9D9;
    --light-color:#E3E3E3;
}
html, body{
    /* basic reset of html and body */
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    height: 79px;
    background:var(--darker-bg-color);
}
#headerlogo>img{
    margin-top: 9px;
    width: 35px;
    height: 31px;
}
#gridLeft{
    display: grid;
    width: 539px;
    height: 49px;
    grid-template-columns: 10% 90px 103px 152px 95px 100%;
}
header{
    text-align: center;
}
#artist{
    height: 677px;
}
#small_Artist_List{
    display: grid;
    width: 1180px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    place-items: center;
}
#small_Artist_List>.row1>img{
    width: 213px;
}
#small_Artist_List>.row2>img{
    width: 213px;
}
#talksList{
    display: grid;
    grid-template-rows: 25% 25% 25%;
    place-items: center;
}
#talk_row{
    display: grid;
    grid-template-columns: 20% 20%;
}
footer h6{
    margin-bottom:0;
}
body{
    background:var(--main-bg-color);
    color:var(--light-color);
}
a{
    color:grey;
}
#billeter {
    background:var(--darker-bg-color);
}
.centerText{
    text-align: center;
}
#days{
    display: grid;
    grid-template-columns: 398px 398px 398px;
    justify-content: center;
}
.pricecol{
    display: grid;
    height: 326px;
    text-align: center;
    grid-template-rows: 30% 30% 30% 30% 30%;
}
#billeter>button{
    width: 125px;
    height: 50px;
    border-radius: 5px;
    background:var(--color-1) ;
}
article{
    text-align: center;
}
footer{
    background:var(--footerBG) ;
}