/* Fonts */
@font-face {
    font-family: 'HelveticaNeue';
    src:  url('fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src:  url('fonts/HelveticaNeueLTStd-Blk.otf') format('opentype');
    font-weight: bolder;
}

:root {
    /* Basic color theme: */
    --color-1:#2EFEB3;
    --color-2:#98E8FF;
    --color-3:#FD0079;
    /* Dark colors: */
    --main-bg-color: #233036;
    --darker-bg-color:#161D21;
    --footerBG: #1E1318;
    --talksbox: #D9D9D9;
    --light-color:#E3E3E3;
    --section-padding-top: 115px;
    --section-padding-bottom: 115px;
    --section-padding-left: 200px;
    --section-padding-right: 200px;
}


/* basic Reset */
*{box-sizing: border-box;}


/* basic reset of html and body */
html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:var(--main-bg-color);
    color:var(--light-color);
}
a{
    color: var(--light-color);
}

/* Top header */
#topHeader{
    top: 0;
    min-height: 79px;
    width: 100%;
    position: fixed;
    background:var(--darker-bg-color);
    display: flex;
    align-items: center;
    padding:0 50px 0 50px;
}
#mainNav{
    display:flex;
    list-style: none;
    padding:0;
}
#mainNav > li > a{
    text-decoration: none;
    padding:8px 16px;
    text-transform: uppercase;
    font-family: 'HelveticaNeue', sans-serif;
    margin-right:10px;
}
#mainNav > li > a:hover{
    border-bottom:var(--color-1) solid 2px;
}
#topHeader > .btn{
    margin-left:auto;
}
#headerLogo{
    max-height:33px;
    width:auto;
}

/* End of navigation */
/* Knapper - links */


.btn{
    display:inline-block;
    text-decoration: none;
    background:var(--color-1);
    color:var(--main-bg-color);
    padding:15px 20px;
    border:solid 2px var(--main-bg-color);
    border-radius:5px;
    transition: 0.3s;
    text-align: center;
}
.btn:hover{
    background:var(--main-bg-color);
    color:var(--color-1);
    border:solid 2px var(--color-1);
}

/* End og knapper - links */



/* headers */
header{
    text-align: center;
}
#frontpageHeader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:80px var(--section-padding-right) 0 var(--section-padding-left);
    min-height:90vh;
    background: url("../images/header.png") no-repeat top;
    background-size: cover;
}
/* End Of headers */



/* Sections */
body > section{
    padding-top:var(--section-padding-top);
    padding-bottom:var(--section-padding-top);
    padding-right:var(--section-padding-right);
    padding-left:var(--section-padding-left)
}


/* Sections | Artists */
#artist{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
#small_Artist_List > div > a{
    display:inline-block;
}
#small_Artist_List{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    place-items: center;
}
#small_Artist_List img{
    object-fit: contain;
    width:100%;
    height:auto;
}
#small_Artist_List .row2{
    display:flex;
    flex-direction: column;
    row-gap: 3vh;
}
.centerBox{
    display: flex;
    justify-content: center;
}


/* Sections |  talks */
.talksGrid{
    display: grid;
    grid-template-columns: 40% 40%;
    gap:10%;
}


/* Sections |  Billetter */
#billeter {
    display:flex;
    flex-direction: column;
    align-items: center;
    background:var(--darker-bg-color);
    row-gap: 20px;
}
#days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    justify-content: center;
}


/*  Sections | Counter */
.counterGrid{
    margin:0 auto;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.counterGrid > div{
    border-right: var(--light-color) solid 2px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counterGrid > div:last-child{
    border:none;
}
.counterGrid > div > h3,
.counterGrid > div > p{
    margin:0;
}
/* End of Sections */


/* Typography */
body{
    font-size:16px;
    font-family: 'HelveticaNeue';
}


h1{
    font-size:39.1px;
    font-family: 'HelveticaNeueBold';
    font-weight:bold;
    text-transform: uppercase;
}
h2{
    font-family:"HelveticaNeueBold", sans-serif;
    font-weight:bold;
    font-size:31.25px;
    text-transform: uppercase;
}
h3{
    font-family:"HelveticaNeueBold", sans-serif;
    font-weight:bold;
    font-size:25px;
    text-transform: uppercase;
}


h1 span.slim{
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
}


.centerText{
    text-align: center;
}


article{
    text-align: center;
}


.boldText{
    font-family:'HelveticaNeueBold', sans-serif;
    font-weight:bold;
}


a{
    font-family:'HelveticaNeue';
}
.btn{
    font-family: 'HelveticaNeueBold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
/* FOOTER Typography */
footer a{
    text-decoration: none;
}
footer a:hover{
    color:var(--color-1);
}
footer h3{
    color: var(--color-1);
    margin:0;
}
footer h6{
    text-align: center;
}

/* FOOTER */
footer{
    padding:50px 115px;
    background:var(--footerBG) ;
}
footer ul{
    margin:0 0 25px 0;
    padding:0 0 0 10px;
    display:flex;
    flex-direction: column;
    list-style-type: none;
}
footer ul > li{
    margin-top:0.5em;
}
#footerGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#footerGrid > div:last-child{
    text-align: right;
}
footer h6{
    margin:0;
}
    /* END of Footer */