body{
    background: #233036;
    margin:0;
    position: absolute;
    width:100%;
    height:100%;
    color:navajowhite;
}
#bgCanvas{
    position:absolute;
    top:0;
    z-index: -1;
}
header, section{
    width:65%;
    margin:75px auto 0 auto;
}
p{
    color:aqua;
}